{% extends "base.html" %}

{% block content %}

<div class="bg-white rounded-2xl shadow-lg p-8 max-w-md mx-auto">

<h2 class="text-2xl font-bold mb-6 text-center">Register</h2>

<form method="POST" class="space-y-4">
    {% csrf_token %}

    <input name="name" placeholder="Username" class="w-full border rounded-xl p-3">
    <input name="password" type="password" placeholder="Password" class="w-full border rounded-xl p-3">

    <button type="submit" class="bg-black text-white w-full py-3 rounded-xl">Create account</button>
</form>

</div>

{% endblock %}

